<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
  <section class="mainwin">
    <div class="posts">
        <% if (posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <a class="single" href="/posts/<%= post._id %>">
                  <h3 class="title"><%= post.title %></h3>
                  <!-- <p class="snippet"><%= post.snippet %></p> -->
                </a>
              <% }) %>
            <% } else { %>
              <p>There are no blogs to display...</p>
            <% } %>
      </div>
  </section>
</body>
</html>