<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
<body>
    <section class="mainwin">
        <div class="profileset">
            <form action="/profile/settings/newavatar" method="POST" enctype="multipart/form-data">
                <label for="image">Image Title</label>
                <input type="file" id="image" name="image" value="" required>
                <button type="submit">Set new avatar</button>
            </form>
            <div>Change username</div>
            <input type="text" id="usernameInput">
            <button type="button" onclick="changeUsername()">Change username</button>
            <div>Change password</div>
            <input type="password" id="passwordInput">
            <button type="button" onclick="changePassword()">Change password</button>
            <div>Link/Change mail address</div>
            <div>Confirm password</div>
            <input type="password" id="passConfirmForMail">
            <div>New mail</div>
            <input type="text" id="mailInput">
            <button type="button" onclick="changeMail()">Change mail</button>
        </div>
    </section>
    <script>
        function changeUsername() {
            if (document.getElementById('usernameInput').value) {
                fetch('/profile/settings/changeusername', {
                    method: "POST",
                    body: JSON.stringify({newusername: document.getElementById('usernameInput').value}),
                    headers: { 'Content-Type': "application/json"}
                })
                .then(response => response.json())
                .then((response) => {
                    if( response.usernameAvailable === 0) {
                        alert('Username not avaiable')
                    }
                })
            }
        }

        function changePassword() {
            if (document.getElementById('passwordInput').value) {
                fetch('/profile/settings/changepassword', {
                    method: "POST",
                    body: JSON.stringify({newpassword: document.getElementById('passwordInput').value}),
                    headers: { 'Content-Type': "application/json"}
                })
            }
        }

        function changeMail() {
            if (document.getElementById('mailInput').value&&document.getElementById('passConfirmForMail').value) {
                fetch('/profile/settings/changemail', {
                    method: "POST",
                    body: JSON.stringify({newmail: document.getElementById("mailInput").value, passwordconfirm: document.getElementById('passConfirmForMail').value}),
                    headers: { 'Content-Type': "application/json"}
                })
                .then(response => response.json())
                .then((response) => {
                    if( response.passwordNotConfirmed) {
                        alert('Incorrect password')
                    }
                })
            } else {alert('Cant detect text')}
        }

        function sendImage() {
            if(document.getElementById('image').value) {
                fetch('/profile/settings/newavatar', {
                    method: "POST",
                    body: JSON.stringify({body: document.getElementById("image").value}),
                    headers: { 'Content-Type': "application/json"}
                })
            } else {
                alert('Insert image')
            }
        }
    </script>
</body>
</html>